<nav
  class="navbar navbar-expand-lg navbar-dark"
  style="
    background-color: black;
    padding: 30px;
    z-index: 1;
    background: transparent;
  "
>
  <a href="#" class="navbar-brand" style="font-size: 1.5rem">E-Commerce</a>
  <div class="navbar-collapse">
    <div class="navbar-nav" style="font-size: 1.5rem">
      <a href="#" class="nav-item nav-link active">Home</a>
      <a href="#" class="nav-item nav-link active">Products</a>
    </div>
    <div class="nav-item dropdown" style="font-size: 1.5rem">
      <a
        class="nav-link dropdown-toggle"
        href="#"
        id="navbarDropdownMenuLink"
        role="button"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
        style="text-decoration: none; color: white"
      >
        Dropdown link
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="#">Login</a>
        <a class="dropdown-item" href="#">Register</a>
      </div>
    </div>
  </div>
</nav>
