.banner {
  position: relative;
}

.banner > div {
  position: absolute;
  color: white;
  bottom: 20%;
  left: 38.5%;
  width: 20rem;
  text-align: center;
}

.invisible {
  display: none;
}

.container-fluid > h2 {
  padding-top: 10px;
}

.admin-form {
  margin: 20px;
}

.login-container {
  /* border: 0.5px solid black; */
  width: 40%;
  margin: 10% auto;
}

.login-container > h2 {
  margin-bottom: 5%;
  text-align: center;
}

.checkout-container {
  width: 70%;
  margin: 20px auto;
  position: relative;
}

.checkout-container > h2 {
  text-align: center;
}
